* {
    padding: 0px;
    margin: 0px;
}

.image1 {
    background-image: url(images/image1.png);
    min-height: 400px
}

.image1,
.image2,
.image3 .content2 h1 {
    text-align: center;
    padding-top: 300px;
    font-size: 30px;
    color: white;
}

.image2 {
    background-image: url(images/image2.png);
    min-height: 400px;
}

.image3 {
    background-image: url(images/image3.png);
    min-height: 400px;
}

.image1,
.image2,
.image3 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content h1,
p {
    text-align: center;
    background-color: #313534;
    color: #E5E5E5;
}

.content h1 {
    padding-top: 15px;
}

.content p {
    padding: 50px;
    padding-left: 80px;
    padding-right: 80px;
    font-weight: lighter;
}